@import "../tokens.css";

@layer components {
  .ath-avatar {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-secondary-700);
  }

  .ath-avatar-initials {
    color: var(--color-tertiary-100);
    font-weight: 500;
  }

  .ath-avatar-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
