@import "../tokens.css";

@layer components {
  .ath-footer {
    background-color: var(--color-secondary-700);
    overflow-x: hidden;
    width: 100%;
    padding: 16px 32px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    border-top: 1px solid var(--color-border-light);
  }
}
