@import "../tokens.css";

@layer component {
  .ath-form-input-container {
    display: flex;
    flex-direction: column;
    flex: 1 1 0%;
    width: -webkit-fill-available;
    min-width: 0;
    align-items: stretch;
  }
  .ath-form-input-container-horizontal {
    flex-direction: row;
    gap: 0.75rem;
    align-items: center;
  }

  /* Base input styles */
  .ath-form-text-input {
    margin-top: 3px;
    border-radius: var(--radius-md);
    border: none;
    outline: 1px solid var(--color-tertiary-500);
    outline-offset: -1px;
    transition: all 0.2s ease;
    min-width: 0;
  }
  .ath-form-text-input:focus {
    outline: 2px solid var(--color-primary-vibrant-500);
    outline-offset: 2px;
    border-color: var(--color-primary-vibrant-500);
  }
  .ath-form-text-input::placeholder {
    color: var(--color-primary-300);
  }

  /* Size variants */
  .ath-form-text-input-large {
    padding: 0.75rem;
    font-size: var(--font-size-lg);
  }
  .ath-form-text-input-medium {
    font-size: var(--font-size-md);
    line-height: var(--font-size-lg);
    padding: 8px 15px;
  }
  .ath-form-text-input-small {
    padding: 0.3rem;
    font-size: var(--font-size-xs);
  }

  /* Textarea specific */
  .ath-form-textarea {
    margin-top: 3px;
    border: 1px solid var(--color-tertiary-500);
    border-radius: var(--radius-md);
    transition:
      border-color 0.2s ease,
      box-shadow 0.2s ease;
    min-width: 0;
    min-height: 3rem;
    resize: vertical;
    overflow: auto;
  }
  .ath-form-textarea:focus {
    outline: 2px solid var(--color-primary-vibrant-500);
    outline-offset: 2px;
    border-color: var(--color-primary-vibrant-500);
  }
  .ath-form-textarea::placeholder {
    color: var(--color-tertiary-400);
  }
  .ath-form-textarea-auto-resize {
    resize: none;
    overflow: hidden;
  }

  /* State variants */
  .ath-form-text-input-error,
  .ath-form-textarea-error {
    border-color: var(--color-error-vibrant-500);
  }
  .ath-form-text-input-error:focus,
  .ath-form-textarea-error:focus {
    outline: 2px solid var(--color-error-vibrant-500);
    border-color: var(--color-error-vibrant-500);
  }

  .ath-form-input-disabled,
  .ath-form-textarea-disabled {
    background-color: var(--color-tertiary-100);
    color: var(--color-tertiary-600);
    cursor: not-allowed;
  }

  .ath-form-input-readonly,
  .ath-form-textarea-readonly {
    background-color: transparent;
    outline: none;
    border: none;
    cursor: default;
  }

  /* Error message */
  .ath-form-input-error-message {
    font-size: var(--font-size-sm);
    color: var(--color-error-vibrant-500);
  }

  /* Helper text */
  .ath-form-input-helper-text {
    font-size: var(--font-size-sm);
    color: var(--color-tertiary-600);
  }
}
