@import "../tokens.css";

@layer components {
  .ath-main {
    overflow-x: hidden;
    position: relative;
    padding: 25px 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 20px;
    flex: 1;
    min-height: 100vh;
  }

  .ath-main-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    margin-inline: auto;
    max-width: 1200px;
    padding: 0 15px;
  }
}
