@import "../tokens.css";

@layer components {
  .ath-modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    padding: 1rem;
  }

  .ath-modal {
    position: relative;
    background-color: #eedecc;
    border-radius: 3px;
    box-shadow:
      0 20px 25px -5px rgba(0, 0, 0, 0.1),
      0 10px 10px -5px rgba(0, 0, 0, 0.04);
    width: 100%;
    max-height: 90vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    max-width: 400px;
  }

  .ath-modal-header {
    display: flex;
    justify-content: space-between;
    padding: 0.75rem 1.5rem 0 1.5rem;
  }

  .ath-modal-title {
    color: var(--color-primary-500);
    margin-top: 5px;
    font-size: 33px;
  }

  .ath-modal-close-button {
    color: var(--color-primary-500);
    position: absolute;
    top: 0;
    right: 0;
    padding: 12px;
  }

  .ath-modal-content {
    padding: 1.5rem;
    overflow: auto;
    flex: 1;
    display: flex;
    justify-content: center;
  }
}
